.list_items {
    background-color: #ffff00;
}
.list_items li:nth-child(2n + 1) {
    text-transform: uppercase;
}
.list_items li:nth-child(2n + 2) {
    color: #008000;
}

.titles {
    color: red;
}
.titles em {
    font-size: 40px;

    border: 1px solid black;
}

li {
    font-size: 20px;
}
li em {
    font-weight: bold;
}

ul:first-of-type li:nth-child(-n + 3){
    color: #0000ff;
}
li[value="Java"] {
    background-color: #ffc0cb;
}

li a[href="https://pt.stackoverflow.com/"]:hover {
    background-color: #ffa500;
    font-weight: bolder;
}
li a[href="https://www.w3schools.com/"]:hover {
    background-color: #008000;
    font-weight: bolder;
}
li a[href="https://developer.mozilla.org/pt-BR/"]:hover {
    background-color: #000000;
    color: #ffffff;
    font-weight: bolder;
}
li a[href="https://devdocs.io/"]:hover {
    background-color: #ffff00;
    font-weight: bolder;
}
li a[href="https://app.betrybe.com/"]:hover {
    background-color: #adff2f;
    font-weight: bolder;
}