* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  width: calc(80% - 50px);
}

header {
  display: flex;
  margin-bottom: 2rem;
}

header p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

header nav {
  display: none;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.aside-one, .aside-two {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.main-content {
  font-size: 1.2rem;
  text-align: justify;
}

.main-content p {
  margin: 0.3rem 0;
}

footer {
  margin-top: 3rem;
}

footer h3 {
  font-size: 1.2rem;
}

footer p {
  margin: 0.5rem 0;
}

@media only screen and (min-width: 760px) {
  header {
    align-items: center;
    flex-direction: column;
  }
  
  header p {
    font-size: 2.5rem;
  }
  
  header nav {
    display: flex;
  }

  header nav ul {
    display: flex;
  }

  header nav ul li {
    display: flex;
    font-size: 1.2rem;
    padding: 10px 25px;
    margin: 0 0.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }
  
  h1 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }
  
  footer {
    margin-top: 3rem;
  }
  
  footer h3 {
    font-size: 1.5rem;
  }
  
  footer p {
    margin: 0.5rem 0;
  }
}

@media only screen and (min-width: 1024px) {  
  header p {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 1.6rem;
  }
  
  h1 {
    font-size: 2rem;
  }
}
